.header {
  min-height: 80px;
  background-color: #0f0f10;
  color: white;
  display: flex;
  /* position: fixed; */
  top: 0;
  left: 0;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__image {
  height: 60px;
  width: 60px;
}

.header__right a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
