.landing {
  background-color: #0f0f10;
  color: white;
}

.landingHeader {
  min-height: 80px;
  background-color: #0f0f10;
  color: white;
  display: flex;
  /* position: fixed; */
  top: 0;
  left: 0;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.landingHeader__image {
  height: 60px;
  width: 60px;
}

.landingHeader__right a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

#welcome {
  height: 100vh;
}

#welcome h1::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}

#welcome h1:hover::after {
  width: 100%;
}

#ourMission {
  height: 100vh;
}

#reviews {
  height: 100vh;
}

.landing h1 {
  text-align: center;
  font-size: clamp(1rem, 8vw, 4rem);
}
