.box-1 {
  height: 100vh;
  border: 2px solid black;
}

.box-2 {
  height: 100vh;
  border: 2px solid black;
}

.box-1 input {
  width: 200px;
  transition: 2s ease-in-out;
}

.box-1 input:focus {
  padding: 20px;
  margin-left: 20px;
}
