.register {
  height: 100vh;
  border: black solid 3px;
  background-color: rgb(128, 51, 128);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register__title {
  position: absolute;
  top: 10%;
}

.glass {
  /* background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px; */
  border-radius: 10px;
}

.register__chooseAccount {
  width: 500px;
  text-align: center;
  border: 2px solid black;
}

.register__Options {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.register__accountDetails {
  width: 500px;
  text-align: center;
  border: 2px solid black;
}

.register__form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
}

.register__form input {
  padding: 16px;
  margin: 10px;
}

.register__form button {
  width: 30%;
  padding: 8px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.register__choosePackage {
  width: 80%;
  text-align: center;
  height: 500px;
}

.register__packageSection {
  height: 500px;
  background-color: grey;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.register__packageImages {
  height: 150px;
  width: 150px;
}

.card {
  background-color: whitesmoke;
  border-radius: 20px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.register__choosePackage h1 {
  /* position: absolute;
  top: 0; */
  margin-bottom: 20px;
}

/* @media screen and (max-width: 780px) {
  .register__packageSection {
    flex-direction: column;
  }
} */
